
* {
	font-family: "MS Trebuchet", Arial, sans-serif; 
	}

body {
	margin: 0; 
	padding: 0; 
	}

.navi, 
#main {
	margin: 0; 
	padding 1em; 
	}

.navi {
	float: left; 
	width: 20em; 
	border: 1px solid silver; 
	}

#main {
	margin-left: 23em; 
	border: 1px solid silver; 
	}
