<p>
Dateirevision Nr. <span class="this_rev">[% this_rev.revn %]</span>.
</p>

<p>Revision wurde erstellt von <span class="this_rev_author">[% this_rev.info.author | html %] [% this_rev.info.date | html %]</span> mit Kommentar: „<span class="this_rev_log_msg">[% this_rev.info.log_msg | html %]</span>“.

[% FOREACH this_rev.styles %]
<h3>Erzeugte Dateien (Layout [% style %])</h3>
[% INCLUDE block_filelist.tt %]
[% END %]

