<ul class="filelist">
[% FOREACH files %]
<li class="[% type %]">
    <a href="[% url %]">[% filename %]</a><br />
    [% UNLESS size == 'directory' %]Dateigröße: [% size %]<br/>[% END %]
    Datum: [% date %]
</li>
[% END %]
</ul>
