<ul class="filelist">
[% FOREACH files %]
<li class="[% type %]">
    <a target="_blank" href="[% url %]"><span class="this_rev">[% filename %]</span></a>
    [[% IF type == 'chm' %]Windows-Hilfedatei
    [%- ELSIF type == 'pdf' %]PDF-Datei
    [%- ELSIF type == 'html-dir' %]Online-Vorschau
    [%- ELSIF type == 'html-zip' %]Webseite in ZIP-Archiv
    [%- END -%]
    [%- UNLESS size == 'directory' %], [% size %][% END %]]<br/>
    Datum: [% date.relative %]
</li>
[% END %]
</ul>
