[% WRAPPER zpub_wrapper.tt
	title = 'Dokumentenübersicht'
	pagekind = "documents"
%]

<ul>
[% FOREACH doc IN documents %]
	<li><a href="/[% doc %]/">[% doc %]</a></li>
[% END %]
</ul>
[% doc = 0 # stupid non-local loop variables in TT %]

[% END %]
