[% WRAPPER zpub_wrapper.tt
	title = 'Dokumentenübersicht'
%]

<ul>
[% FOREACH doc IN documents %]
[%# Assuming we are at URL "cust.zpub.de/" here %]
	<li><a href="[% doc %]/">[% doc %]</a></li>
[% END %]
</ul>
[% doc = 0 # stupid non-local loop variables in TT %]

[% END %]
