[% WRAPPER zpub_wrapper.tt
	title = "Archivierte Revision ${this_revs.0.revn}"
	pagekind = "archived_rev"
%]

<h3>Archivierte Änderung</h3>

[% FOR this_rev IN this_revs %]
[% INCLUDE block_rev.tt %]
[% END %]
[% END %]
