<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de" dir="ltr">
<head>
<title>
	zpub – 
	[% IF doc %] [% doc %] – [% END %]
	[% title %]
</title>
<link rel="stylesheet" href="css/layout.css" type="text/css" media="screen, projection" />
</head>
<body>

<ul class="navi">
<li><a href="/">Dokumentenübersicht</a></li>
[% FOR doc IN documents%]
<li><a href="/[% doc %]">Dokument „[% doc %]“</a>
<ul>
<li><a href="/[% doc %]/archive">Archiv</a></li>
[% IF admin %]
<li><a href="/[% doc %]/admin/subscribers">Abonennten</a></li>
[% END %]
</ul>
</li>
[% END %]
<li><a href="/status">Status</a></li>
[% IF admin %]
<li><a href="/admin/passwd">Benutzer</a></li>
[% END %]
</ul>

<h1>[% title %]</h1>
[% content %]
</body>

<!-- Current customer: [% cust %] -->
</html>
