<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de" dir="ltr">
<head>
<title>
	zpub – 
	[% IF doc %] [% doc %] – [% END %]
	[% title %]
</title>
<link rel="stylesheet" href="/static/css/screen.css" type="text/css" media="screen, projection" />
<script type="text/javascript" src="/static/js/jquery-1.3.1.min.js"></script>
</head>
<body class="[%- pagekind -%]_wrapper">


<div id="header">
	<h1><em>zpub</em>.de</h1>
	<p>Zentrales Dokumentationssystem</p>
</div>

<hr />

[% MACRO link(class,href,text) BLOCK -%]
<a class="[% class =%]
          [% IF href == this_page %]current_page[% ELSE -%]
		  [%- IF this_page.startswith(href)  %]super_page[% END -%]
		  [%- IF href.startswith(this_page) %]sub_page[% END -%]
	  [%- END %]" href="[% href %]">[% text %]</a>
[% END %]

<div id="navi"> 
<ul>
<li>[% link("overview","/","Dokumentenübersicht") %]</li>
[% FOR doc IN documents%]
<li>[% link("document","/$doc/","Dokument <span class="this_rev">„$doc“</span>") %]
[% IF this_page.startswith("/$doc/") %]
<ul>
<li>[% link("","/$doc/archive/","Archiv")%]</li>
[% IF admin %]
<li>[% link("","/$doc/admin/subscribers/","Abonnenten")%]</li>
[% END %]
</ul>
[% END %]
</li>
[% END %]
<li>[% link("status","/status/","Status")%]</li>
[% IF admin %]
<li>[% link("user","/admin/passwd/","Benutzer")%]</li>
[% END %]
</ul>
</div>

<div id="main">
<h2>[% title %]</h2>
[% content %]
</div>

<hr />

<!--
<div  id="footer">
<ul>

	<li><a href="kontakt.html">Kontakt</a></li>
	<li><a href="ueber_uns.html">Über uns</a></li>
	<li><a href="impressum.html">Impressum</a></li>

</ul>
</div>
/-->
</body>

<!-- Current customer: [% cust %] -->
</html>
